* {
  padding: 0;
  margin: 0;
}

body {
  background: url(https://upload.wikimedia.org/wikipedia/commons/8/8e/John_Churchill%2C_1st_Duke_of_Marlborough%2C_Captain-General_of_the_English_forces_and_Master-General_of_the_Ordnance%2C_1702_%28c%29%2C_attributed_to_Michael_Dahl_91996.jpg);
  background-size: initial;
}

.container {
  background-color: rgba(255, 89, 0, 0.587);
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 3em 2em;
  transform: translate(-50%);
  position: absolute;
  left: 50%;
  right: 50%;
  top: 1em;
  border-radius: 1em;
}

.input-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
}

input {
  padding: 1em 0.5em;
  background-color: #3a3939;
  color: white;
  border: none;
  border-radius: 0.5em;
  outline: none;
}

button {
  outline: none;
  border: none;
}

#tempToy {
  transform: translate(3%, 290%);
  width: 300px;
}

button {
  outline: none;
  border: none;
  background-color: rgb(72, 74, 237);
  color: white;
  border-radius: 0.5em;
}

.display-container {
  padding: 1em;
}
