 body {
    background: url(https://fullytejas.com/wp-content/uploads/2021/03/Can-you-wear-a-saree-when-pregnant.jpg);
    background-size: 600px 300px;
}
#rainbow {
    width: 400px;
}

#rose_bud {
    width: 400px;
}

#ecchi_imgID {
    width: 400px;
}

#ero_img_id {
    width: 400px;
}